In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
import pandas as pd

In [ ]:
%matplotlib notebook
# Set up figure size and DPI for screen demo
plt.rcParams['figure.figsize'] = (6,4)
plt.rcParams['figure.dpi'] = 150

In [ ]:
x = np.random.normal(size=500)
y = np.random.normal(size=500)
z = np.random.normal(size=500)
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(x, y , z, c=np.linalg.norm([x,y,z], axis=0))

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1, projection='3d')
t = np.linspace(0,4*np.pi, 500)
x = np.sin(t)
x = np.cos(t)
y = np.sin(t)
z = t
ax.plot(x,y,z)
plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1, projection='3d')
x = np.linspace(-np.pi, np.pi, 50)
X, Y = np.meshgrid(x, x)
Z = np.sin(X*Y)
ax.plot_surface(X,Y,Z)
plt.show()

In [ ]:
import quandl
import pandas as pd
quandl.ApiConfig.api_key = 't9wuZVhx3Gi2aucki8PA'
apple = quandl.get('WIKI/AAPL')
ms = quandl.get('WIKI/MSFT')

In [ ]:
%matplotlib inline
ms.head()

In [ ]:
ms['Adj. Close'].plot()

In [ ]:
ms.index

In [ ]:
ms['2018']['Adj. Close'].plot()

In [ ]:
ms['2018-03']['Adj. Close'].plot()

In [ ]:
ms.loc['2018-01-01':'2018-03-31']['Adj. Close'].plot()

In [ ]:
ms_price = ms[['Adj. Close']]
apple_price = apple[['Adj. Close']]
ms_price.rename(columns={'Adj. Close': 'MSFT'}, inplace=True)
apple_price.rename(columns={'Adj. Close': 'AAPL'}, inplace=True)

In [ ]:
both_stocks = ms_price.join(apple_price, how='inner')

In [ ]:
both_stocks.plot()

In [ ]:
both_stocks['2017'].plot()

In [ ]:
both_stocks.loc['2017'].plot()

In [ ]:
both_stocks['2017'].rolling(min_periods = 10, window=60, center=False).mean().plot()

In [ ]:
both_stocks['2017'].rolling(min_periods = 10, window=60, center=True).std().plot()

In [ ]:
both_stocks['2017'].rolling(min_periods = 10, window=60, center=False).std().plot()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
titanic_df = pd.read_excel('titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.drop(['ticket', 'cabin', 'boat', 'body'], axis=1).head()

In [ ]:
titanic_df.isnull()

In [ ]:
titanic_df.isnull().sum()

In [ ]:
pd.value_counts(titanic_df['survived']).plot.bar()

In [ ]:
titanic_df['survived'].mean()

In [ ]:
titanic_df.groupby(['sex']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).mean()['survived'].plot.bar()

In [ ]:
titanic_df[titanic_df['age']>18].groupby(['sex', 'pclass']).mean()['survived'].plot.bar()

In [ ]:
titanic_df.groupby(['sex', 'pclass']).mean()['survived'].plot.bar()