In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
titanic_df = pd.read_excel('excel/titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.drop(['ticket', 'cabin', 'boat', 'body'], axis=1).head()

In [ ]:
# titanic_df.isnull()

In [ ]:
titanic_df.isnull().sum()

In [ ]:
pd.value_counts(titanic_df['survived']).plot.bar()

In [ ]:
titanic_df['survived'].mean()

In [ ]:
titanic_df.groupby(['sex']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).mean()['survived'].plot.bar()

In [ ]:
titanic_df[titanic_df['age']>18].groupby(['sex', 'pclass']).mean()['survived'].plot.bar()

In [ ]:
titanic_df.groupby(['sex', 'pclass']).mean()['survived'].plot.bar()